 <app-route [name]="candle?.title || ''" [isCandle]="true" ></app-route>

 <div [hidden]='candle!==null' class="loader">
  <div  class="lds-ring" ><div></div><div></div><div></div><div></div></div>
</div>
<div [hidden]='candle===null'>
  <div  class="candle central-container"> 
    <div class="candle__imgs wrap-img"> 
        <img *ngIf="candle" class="candle__main-img candle__img" src={{candle.imgs[0]}}>
        <!-- <img class="candle__main-img candle__img" src='assets/img/store-item-1.jpg'> -->
        <div class="candle__add-imgs" >
            <div class="wrap-img candle__add-img link" *ngFor="let item of [].constructor(candle?.imgs?.length); let i = index">
                <img *ngIf="candle" class="candle__img" src={{candle.imgs[i]}}>
            </div>
<!-- 
            <div class="wrap-img candle__add-img link" *ngFor="let item of [].constructor(candle?.imgs?.length); let i = index">
                <img class="candle__img" src='assets/img/store-item-1_1.jpg'>
            </div>
            <div class="wrap-img candle__add-img link" *ngFor="let item of [].constructor(candle?.imgs?.length); let i = index">
                <img class="candle__img" src='assets/img/store-item-1_2.jpg'>
            </div>
            -->
            
        </div>
    </div>
    <div class="candle__info">   
        <h1 class="candle__title">{{candle?.title}}</h1>
        <p>{{candle?.price}} ₽</p>

        <div>
            <label for="wick">Фитиль</label>
        </div>
        <select class="select1" id="wick" name="carlist" form="carform">
          <option value="opel">хлопковый</option>
          <option value="audi">деревянный</option>
        </select>

        <div>
            <label for="scent">Аромат</label>
        </div>
        <select class="select1" id="scent" name="carlist" form="carform">
          <option value="opel">лавандовое поле</option>
          <option value="audi">груша в карамели</option>
          <option value="audi">домашнее какао</option>
          <option value="audi">зеленый чай</option>
        </select>

        <div>
            <label for="packaging">Упаковка</label>
        </div>
        <select class="select1" id="packaging" name="carlist" form="carform">
          <option value="opel">стандартная</option>
          <option value="audi">подарочная</option>
        </select>

        <p>Свеча HYPE — это свеча конструктор, где вы можете выбрать цвет, аромат, надпись на свече и фитиль! Огонь? Огонь! Собери свое уникальное сочетание свечи!</p>
        <p>Свеча “I can Buy myself flowers” всегда есть в наличии:</p>
        <p>Розовая — Кожа и сандал — Хлопковый фитиль</p>
        <p>Фиолетовая — Ваниль и бобы тонка — Хлопковый фитиль</p>
        <p>Желтая — Рубиновый грейпфрут — Хлопковый фитиль</p>
        <p>Оранжевая — Ягодный лимонад — Хлопковый фитиль</p>
        <p>Зеленая — Мандарин и базилик — Хлопковый фитиль</p>
        <p>Голубая — Пич блоссом — Хлопковый фитиль</p>    
        <p>Ярко - розовая — Кашемировый уют — Хлопковый фитиль</p>
        
        <app-counter-wrapper 
          (countEvent)="changeCount($event)"
          class="cart-item__counter"
          [count]="count">
      </app-counter-wrapper>

      <p>{{this.candle?.isAvailable ? "В наличии" : "Нет в наличии" }}</p>
      <button  
          class="button"
          [hidden]="!this.candle?.isAvailable"
          (click)="AddCartItem()"
          size="m"
          routerLink="/shop"
          tuiButton
          type="button"
          class="button header-banner__element"
      >
      В корзину
      </button>
    </div>
      
  </div> 


 

  <tui-accordion class="central-container">
    <tui-accordion-item>
        Все ароматы по нотам
        <ng-template tuiAccordionItemContent>
          <img class="accordion__img" src="assets/img/candle-collapse-1.png" alt="">
        </ng-template>
    </tui-accordion-item>
    <tui-accordion-item>
        Доставка
        <ng-template tuiAccordionItemContent>
          <div class="accordion__text">
            <p>Кастомные свечи HYPE мы изготавливаем на заказ. Изготовление занимает до 4 рабочих дней. 
              Однако, в коллекции HYPE в наличии всегда есть определенные сочетания цвета и аромата. 
              Они указаны в описании товара. Если вам необходимо, чтобы заказ был срочно отправлен - пожалуйста, напишите об 
              этом в комментариях к заказу при оформлении, мы предложим варианты.
            </p>
            <p>
              <b>Доставка по Москве</b>
            </p>
            <p>
            По Москве возможна курьерская доставка: 450 руб - в пределах 3 кольца и 550 руб - в пределах МКАД. 
            Или доставка СДЭК: курьерская или до ближайшего к вам пункта выдачи.
            </p>
            <p>
              <b>Доставка по России</b>
            </p>
            <p>
              Мы отправляем ваши заказы по всей стране курьерской доставкой СДЭК. Выберите удобный адрес склада или введите 
              адрес доставки до двери.
            </p>
            <p>
              <b>Доставка в другие страны</b>
            </p>
            <p>
              Мы также отправляем свечи по всему миру. Стоимость такой доставки рассчитывается отдельно после оформления и 
              оплаты заказа. Выберите пункт “Доставка в другую страну” в процессе оформления заказа и мы оперативно свяжемся с
              вами после оплаты!
            </p>
          </div>
          
        </ng-template>
    </tui-accordion-item>
</tui-accordion>


    <!-- <div class="other-candles">
      <app-shop-item class="app-shop-item"
              *ngFor="let c of candlesService.candles" 
              [candle]="c"
              (clickAddCartItem) = "addCartItem($event)"  
      ></app-shop-item>
  </div> -->

  <div class="place"></div>
</div>
