 <app-route [name]="candle?.title || ''" [isCandle]="true" ></app-route>


<div class="candle central-container"> 
    <div class="candle__imgs wrap-img"> 
        <!-- <img class="candle__main-img candle__img" src={{candle!.imgs[0]}}> -->
        <img class="candle__main-img candle__img" src='assets/img/store-item-1.jpg'>
        <div class="candle__add-imgs" >
            <!-- <div class="wrap-img candle__add-img link" *ngFor="let item of [].constructor(candle?.imgs?.length); let i = index">
                <img class="candle__img" src={{candle!.imgs[i]}}>
            </div> -->

            <div class="wrap-img candle__add-img link" *ngFor="let item of [].constructor(candle?.imgs?.length); let i = index">
                <img class="candle__img" src='assets/img/store-item-1_1.jpg'>
            </div>
            <div class="wrap-img candle__add-img link" *ngFor="let item of [].constructor(candle?.imgs?.length); let i = index">
                <img class="candle__img" src='assets/img/store-item-1_2.jpg'>
            </div>
           
            
        </div>
    </div>
    <div class="candle__info">   
        <h1 class="candle__title">{{candle?.title}}</h1>
        <p>{{candle?.price}} ₽</p>
        <p>Свеча HYPE — это свеча конструктор, где вы можете выбрать цвет, аромат, надпись на свече и фитиль! Огонь? Огонь! Собери свое уникальное сочетание свечи!</p>
        <p>Свеча “I can Buy myself flowers” всегда есть в наличии:</p>
        <p>Розовая — Кожа и сандал — Хлопковый фитиль</p>
        <p>Фиолетовая — Ваниль и бобы тонка — Хлопковый фитиль</p>
        <p>Желтая — Рубиновый грейпфрут — Хлопковый фитиль</p>
        <p>Оранжевая — Ягодный лимонад — Хлопковый фитиль</p>
        <p>Зеленая — Мандарин и базилик — Хлопковый фитиль</p>
        <p>Голубая — Пич блоссом — Хлопковый фитиль</p>    
        <p>Ярко - розовая — Кашемировый уют — Хлопковый фитиль</p>
            
        <app-button class="button" text="В корзину" (click)="AddCartItem()"></app-button>
            
        
    </div>
    
</div> 
