<app-route [name]="'FAQ'"></app-route>



<div class="central-container">
    <h1 class="title">Доставка и оплата</h1>

    <tui-accordion>
        <tui-accordion-item>
            Какие способы доставки?
            <ng-template tuiAccordionItemContent>
              <div class="accordion__text">
                <p>
                    На данный момент мы сотрудничаем с несколькими транспортными компаниями: 
                    СДЭК, Boxberry, Почта России для розничных заказов DPD, Деловые Линии для оптовых заказов
                </p>     
    
              </div>
            </ng-template>
        </tui-accordion-item>

        <tui-accordion-item>
            Какие способы оплаты?
            <ng-template tuiAccordionItemContent>
              <div class="accordion__text">
                <p>
                    Можно оплатить банковской картой любого банка Visa, Mastercard, Мир или Unionpay, 
                    а также оплатить по счёту как для физических, так и юридических лиц
                </p>     
              </div>
            </ng-template>
        </tui-accordion-item>
        
        <tui-accordion-item>
            Как узнать сроки и стоимость доставки?
            <ng-template tuiAccordionItemContent>
              <div class="accordion__text">
                <p>
                    Для расчёта сроков и стоимости необходимо положить товар в корзину и указать ваш город, после чего вам будут предложены разные способы 
                    и варианты доставки.
                </p>      
                <p>
                    Cрок доставки не включает в себя срок комплектации заказа, день передачи отправления в транспортную компанию и выходные дни.

                </p>
              </div>
            </ng-template>
        </tui-accordion-item>

        <tui-accordion-item>
            Можно ли заказать курьера Dostavista или Яндекс.Такси?
            <ng-template tuiAccordionItemContent>
              <div class="accordion__text">  
                <p>
                    Да, конечно. От курьера потребуется номер заказа и ФИО получателя
                </p>
              </div>
            </ng-template>
        </tui-accordion-item>
    </tui-accordion>
    
    
    <span class="anchor" id="part"></span>

    <h1 class="title part">Опт</h1>
    <div class="text">
        <h2>Оптовое сотрудничество</h2>
        <p>
            Вы хотите разнообразить ассортимент и повысить продажи? Мы с радостью вам в этом поможем! 
            Если у вас цветочный магазин, книжный магазин, концепт стор, wellness пространство, кафе, бутик одежды, отель или же любой другой бизнес - 
            мы гарантируем, что наши свечи не останутся без внимания. Выгодный оптовый прайс, и небольшие партии на пробу.
        </p>
    
        <h2>Корпоративные подарки</h2>
        <p>
            Хотите порадовать сотрудников реально классным подарками, а не просто очередной коробкой конфет? 
            Мы поддерживаем ваше решение! Скорее напишите нам какой у вас бюджет, необходимый объем партии и идеи по дизайну - мы предложим варианты.
        </p>
    
        <h2>Брендинг и контрактное производство</h2>
        <p>
            Вам понравились наши свечи или же вы хотели бы запустить свой собственный бренд свечей? 
            Давайте вместо это сделаем! Обсудим концепцию бренда, упаковку, ароматы, внешний вид от и до и создадим вам нечто уникальное!
        </p>    
    </div>
    


   

    <tui-accordion>
        <tui-accordion-item>
            Как оформить заявку на опт?
            <ng-template tuiAccordionItemContent>
              <div class="accordion__text">
                <p>
                    Вам необходимо оформить заявку на страничке воска в разделе «Опт» или отправить запрос на opt@greenwax.ru, 
                    далее оптовый менеджер свяжется с вами для согласования объема, стоимости и сроков  
                </p>     
    
              </div>
            </ng-template>
        </tui-accordion-item>

        <tui-accordion-item>
            Какие сроки отгрузки оптового заказа?
            <ng-template tuiAccordionItemContent>
              <div class="accordion__text">
                <p>
                    Срок отгрузки продукции со склада составляет от 2 до 5 рабочих дней
                </p>     
              </div>
            </ng-template>
        </tui-accordion-item>
        
      
        
    </tui-accordion>


</div>  





<div class="place"></div>

