<app-route [name]="'FAQ'"></app-route>



<div class="central-container">
    <h1 class="title">Доставка и оплата</h1>

    <div class="my-border">
        <p class="my-collapse-p">
            <a class="btn btn-primary my-collapse " data-bs-toggle="collapse" 
            role="button" aria-expanded="false" aria-controls="collapseExample" href="#collapseExample">
            Какие способы доставки?</a>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <p>
                  На данный момент мы сотрудничаем с несколькими транспортными компаниями: 
                  СДЭК, Boxberry, Почта России для розничных заказов DPD, Деловые Линии для оптовых заказов
              </p>      
            </div>
          </div>
    </div>
    
    <div class="my-border-bottom">
        <p class="my-collapse-p">
            <a class="btn btn-primary my-collapse" data-bs-toggle="collapse" 
            role="button" aria-expanded="false" aria-controls="collapseExample" href="#collapseExample1">
            Какие способы оплаты?</a>
        </p>
        <div class="collapse" id="collapseExample1">
            <div class="card card-body">
                <p>
                    Можно оплатить банковской картой любого банка Visa, Mastercard, Мир или Unionpay, 
                    а также оплатить по счёту как для физических, так и юридических лиц
                </p>      
            </div>
        </div>
    </div>

    <div class="my-border-bottom">
        <p class="my-collapse-p">
            <a class="btn btn-primary my-collapse" data-bs-toggle="collapse" 
            role="button" aria-expanded="false" aria-controls="collapseExample" href="#collapseExample2">
            Как узнать сроки и стоимость доставки?</a>
        </p>
        <div class="collapse" id="collapseExample2">
            <div class="card card-body">
                <p>
                    Для расчёта сроков и стоимости необходимо положить товар в корзину и указать ваш город, после чего вам будут предложены разные способы 
                    и варианты доставки.
                </p>      
                <p>
                    Cрок доставки не включает в себя срок комплектации заказа, день передачи отправления в транспортную компанию и выходные дни.

                </p>
            </div>
        </div>
    </div>

    <div class="my-border-bottom">
        <p class="my-collapse-p">
            <a class="btn btn-primary my-collapse" data-bs-toggle="collapse" 
            role="button" aria-expanded="false" aria-controls="collapseExample" href="#collapseExample3">
            Можно ли заказать курьера Dostavista или Яндекс.Такси?</a>
        </p>
        <div class="collapse" id="collapseExample3">
            <div class="card card-body">
                <p>
                    Да, конечно. От курьера потребуется номер заказа и ФИО получателя
                </p>      
             
            </div>
        </div>
    </div>
    
    <span class="anchor" id="part"></span>

    <h1 class="title part">Опт</h1>
    <h2>Оптовое сотрудничество</h2>
    <p>
        Вы хотите разнообразить ассортимент и повысить продажи? Мы с радостью вам в этом поможем! 
        Если у вас цветочный магазин, книжный магазин, концепт стор, wellness пространство, кафе, бутик одежды, отель или же любой другой бизнес - 
        мы гарантируем, что наши свечи не останутся без внимания. Выгодный оптовый прайс, и небольшие партии на пробу.
    </p>

    <h2>Корпоративные подарки</h2>
    <p>
        Хотите порадовать сотрудников реально классным подарками, а не просто очередной коробкой конфет? 
        Мы поддерживаем ваше решение! Скорее напишите нам какой у вас бюджет, необходимый объем партии и идеи по дизайну - мы предложим варианты.
    </p>

    <h2>Брендинг и контрактное производство</h2>
    <p>
        Вам понравились наши свечи или же вы хотели бы запустить свой собственный бренд свечей? 
        Давайте вместо это сделаем! Обсудим концепцию бренда, упаковку, ароматы, внешний вид от и до и создадим вам нечто уникальное!
    </p>

    <div class="my-border">
        <p class="my-collapse-p">
            <a class="btn btn-primary my-collapse " data-bs-toggle="collapse" 
            role="button" aria-expanded="false" aria-controls="collapseExample" href="#collapseExample4">
            Как оформить заявку на опт?</a>
          </p>
          <div class="collapse" id="collapseExample4">
            <div class="card card-body">
              <p>
                
                Вам необходимо оформить заявку на страничке воска в разделе «Опт» или отправить запрос на opt@greenwax.ru, 
                далее оптовый менеджер свяжется с вами для согласования объема, стоимости и сроков
              </p>      
            </div>
          </div>
    </div>

    <div class="my-border-bottom">
        <p class="my-collapse-p">
            <a class="btn btn-primary my-collapse " data-bs-toggle="collapse" 
            role="button" aria-expanded="false" aria-controls="collapseExample" href="#collapseExample5">
            Какие сроки отгрузки оптового заказа?</a>
          </p>
          <div class="collapse" id="collapseExample5">
            <div class="card card-body">
              <p>
                Срок отгрузки продукции со склада составляет от 2 до 5 рабочих дней

              </p>      
            </div>
          </div>
    </div>


</div>  





<div class="place"></div>

