<footer class="footer">  
    <div class="container footer__flex">
        <div>
            <div class="footer__first-el">
                <a routerLink="/home" class="link text_bold">THE CANDLES</a>
            </div>
            <p class="footer__second-el">thecandles@gmail.com</p>
        </div>
        <div>
            <div class="footer__first-el">
                <a routerLink="/shop" class="link">Главная страница</a>
            </div>
            <div class="footer__second-el">  
                <a routerLink="/about" class="link">Вход в аккаунт</a> 
            </div>
        </div>
        <div>
            <div class="footer__first-el">
                <a routerLink="/shop" class="link">Магазин</a>
            </div>
            <div class="footer__second-el">  
                <a routerLink="/about" class="link">О нас</a> 
            </div>
        </div>
        <div>
            <div class="footer__first-el">
                <a routerLink="/faq" class="link">Есть вопрос?</a>
            </div>
            <div class="footer__second-el">
                <a routerLink="/contacts" class="link">Контакты</a> 
            </div>
        </div>
    </div>   
</footer>        