<div class="content">
    <header class="header">
        <div class="header__info">
            <p class="header__text">БЕСПЛАТНАЯ ДОСТАВКА ДО ПУНКТА ВЫДАЧИ ОТ 7000 РУБ. | ВСЕ СВЕЧИ ИЗГОТАВЛИВАЕМ НА ЗАКАЗ ЗА 3 — 4 РАБОЧИХ ДНЯ</p>      
        </div>
        <div class="header__menu menu">

            <ul class="menu__part menu__left">
                <li class="menu__left-item">
                    <a class='link' routerLink="shop">Магазин</a>
                </li>
                <li class="menu__left-item">
                    <a class='link' routerLink="cart">Корзина </a>
                </li>
                <li class="menu__left-item">
                    <a class='link' routerLink="">О нас</a>
                </li>
            </ul>
            <a class='menu__logo logo link' routerLink="home">THE CANDLES</a>
            <ul class="menu__part menu__right">
                <li class="menu__left-item">
                    <a class='link' routerLink="">FAQ</a>
                </li>
                <li class="menu__left-item">
                    <a class='link' routerLink="">Контакты</a>
                </li>
                <li class="menu__left-item">
                    <a class='link' routerLink="login">Войти</a>
                </li>
            </ul>
        </div>

    </header>

    <router-outlet></router-outlet>
     <!-- <app-shop></app-shop> -->
     <!-- <app-home></app-home> -->
    <app-footer></app-footer>

   
</div>
