
<app-route [name]="'О бренде'"></app-route>

<div class="central-container flex">

    <div class="carousel">
        <tui-carousel
        [draggable]="true"
        [itemsCount]="1"
        [(index)]="index"
        >
            <ng-container class="flex" *ngFor="let item of items; let i = index">
                    <img
                    *tuiItem
                    alt=""
                    draggable="false"
                    src="assets/img/about/{{ item }}"
                    class="item"
                    [class.item_active]="i === index + 1"
                />


            </ng-container>
        </tui-carousel>
    </div>
    <div>
        <h2 class="about-brand__add-title about-brand__text about-brand__add-main-title">О БРЕНДЕ</h2>
        <h1 class="about-brand__title about-brand__text">THE CANDLES</h1>
        <p class="about-brand_p about-brand__text">Это крафтовый бренд свечей, созданный мамой и дочкой в Москве. Мы производим свечи из натурального бленда соевого и кокосового воска и отбираем самые интересные и необычные ароматы для каждой новой коллекции.</p>
        <p class="about-brand_p about-brand__text">Мы мощно зашли на российский рынок, а наши свечи HYPE взорвали инстаграм: кастомные цветные свечи с любым сочетанием хайповых надписей и кайфовых ароматов на выбор. Не свечи, а конфетки!</p>
        <p class="about-brand_p about-brand__text">Помимо самой популярной коллекции свечей HYPE, в ассортименте у бренда The Svechi 6 коллекций с абсолютно разным вайбом, ароматами и дизайном. Переходите в магазин и убедитесь в этом сами!
        </p>
    </div>



</div>
