<app-route [name]="'Контакты'"></app-route>


<div class="contacts central-container">
    <div class="contacts__wrap-img wrap-img">
        <img src="assets/img/contacts.jpg" class="contacts__img">
    </div>
    <div class="contacts__info">
        <h1>Контакты</h1>
        <p>+7 (977) 913 98 73</p>
        <p>По общим вопросам и заказам <u>thecandles@gmail.com</u></p>
        <p>По вопросам партнерства, сотрудничества, контрактного производства и корпоративных подарков thecandles@gmail.com</p>
    </div>

</div>