<!-- <div class="cart-item">
    <div class="cart-item-wrap">
        <div class="wrap-img">
            <img class="cart-item__img" src="{{candle!.imgs[0]}}">
        </div>
        <div class="cart-item__info">
            <p class="cart-item__title">Свеча {{candle?.title}}</p>
            <p>{{cartItem?.wick}} фитиль, аромат "{{cartItem?.scent}}", {{cartItem?.packaging}} упаковка</p>
            
            <p class="link" (click)="delete()">Удалить</p>
        </div>
    </div>
    <p class="cart-item__info cart-item__price">{{candle?.price}} ₽/шт.</p>
    <app-counter-wrapper 
        (countEvent)="changeCount($event)"
        class="cart-item__counter"
        [count]="cartItem?.count ?? 1">
    </app-counter-wrapper>
</div> -->


<tr class="tui-table__tr tui-table__tr_border_none">
    <td class="tui-table__td tui-table__td_first">
        <div class="wrap-img">
            <img class="cart-item__img" src="{{candle!.imgs[0]}}">
        </div>
    </td>
    <td class="tui-table__td">
        <div class="cart-item__info">
            <p class="cart-item__title">Свеча {{candle?.title}}</p>
            <p class="cart-item__main-info">{{cartItem?.wick}} фитиль, аромат "{{cartItem?.scent}}", {{cartItem?.packaging?.toLowerCase( )}} упаковка</p>
            
            <span class="link favorites" (click)="addFavorites()">В избранное </span>
            <span class="link" (click)="delete()"> Удалить</span>
        </div>
    </td>
    <td class="tui-table__td cart-item__price">{{candle?.price}} ₽/шт.</td>
    <td class="tui-table__td tui-table__td_last"> 
        <app-counter-wrapper 
            (countEvent)="changeCount($event)"
            class="cart-item__counter"
            [count]="cartItem!.count!">
        </app-counter-wrapper>
    </td>
</tr>