@import '~@taiga-ui/core/styles/taiga-ui-local';

.link{
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.form{
    width: 630px;
    margin: auto;
    margin-top: 40px;
    background-color: white;
    box-shadow: 0 0.25rem 1.5rem #0000001f;
    padding: 50px;
    box-sizing: border-box;
}
.form__text{
    text-align: center;
    margin: 0 0 20px 0;
}

.form__title{
    font-size: 30px; 
    margin: 0 0 30px 0;
}

.content{
    display: flex;
    flex-direction: column;
}


.content__row{
    margin-bottom: 20px;
    border-radius: 3px;
}
.content__input{
    margin-bottom: 15px;
}
.alert{
    color: #f45725;
    padding: 3px 0 0 5px;
    font-size: 14px;
}


.content__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 25px;  
}


 .content__input:focus
{
    border: 1px solid #000;
    outline-offset: 0px;
    outline: none;
}
.form-create-account{
    flex-direction: column;
}
.content__registration{
    font-size: 16px;
    padding-left: 5px;
    line-height: 56px;
    margin: 0;
}
.form__info{
    font-size: 16px;
}

.content__forgot-password{
    margin: 0 0 20px 0;
    font-size: 16px;
    color: gray;
    text-align: center;
}

.content__registration_hidden{
    
    visibility: hidden;
}


.row-create-account {
    flex-basis: auto;
    margin-bottom: 20px;
    border-radius: 3px;
}



.b-form{
    width: 630px;
}

.button {
    width: 90px;
    height: 40px;
    font-size: 15px;
    background-color: #EF9DA4;
}