<form class="form-wrapper" [formGroup]="form" (submit)="submit()">
    <div class="form">
        <p class="form-title form-text">{{titleText}}</p>
        <p class="form-info form-text" [hidden]="isNewUser!==null">Введите почту, чтобы войти или зарегистрироваться</p>
        <div class="form-content">
            <div class="row row_email">
                <input type="text" class="email-input" 
                [placeholder]="emailInputPlaceholder" formControlName="email">
            </div>
            <div class="row" [hidden]="isNewUser!==true">
                <input type="text" class="email-input" 
                placeholder="Повторите пароль" formControlName="password">
            </div>
            <div class="row_submit">
                <app-button [text]="buttonText"></app-button>
            </div>
        </div>
    </div>
</form>