<div class="form-wrapper">
    <form class="form" (submit)="submit()">
        <p class="form-title form-text">Вход в аккаунт</p>
        <p class="form-info form-text">Введите почту, чтобы войти или зарегистрироваться</p>
        <div class="form-content">
            <div class="row">
                <input type="text" class="email-input" placeholder="Электронная почта" formControlName="email">
            </div>
            <div class="row row_submit">
                <app-button text="Продолжить"></app-button>
            </div>
        </div>
    </form>
</div>