<app-route [name]="'Login'"></app-route>

<form class="form" [formGroup]="form" (submit)="submit()">
    <p class="form__title form__text">{{titleText}}</p>
    <p class="form__info form__text" [hidden]="isNewUser">Войдите в аккаунт или зарегистрируйтесь</p>
    <div class="form__content content">
        <div class="content__row">
            <input type="text" class="content__input" 
            placeholder="Электронная почта" formControlName="email">
        </div>
        <div class="content__row">
            <input type="text" class="content__input" 
            [placeholder]="passwordPlaceholder" formControlName="password">
        </div>
        <div class="content__row" [hidden]="!isNewUser">
            <input type="text" class="content__input" 
            placeholder="Подтвердите пароль" formControlName="password2">
        </div>
        <div class="content__wrapper">
            <p class="content__registration link"(click)="registration()">Регистрация</p>
            <div class="content__row-submit">
                <app-button [text]="buttonText"></app-button>
            </div>
        </div>
        
    </div>
</form>