<div class="store-item link" (click)='showCandle()'>
    <div class="wrap-img">
        <img class="store-item__img" src="{{candle!.imgs[0]}}">
    </div>
    <div class="store-item__info">
        <p class="text store-item__head-text">Свеча "{{candle?.title}}"</p>
        <p class="store-item__add-info">цвет, аромат, фитиль на выбор</p>
        <div class="store-item__in-cart">
            <p class="text store-item__add-info">{{candle?.price}} ₽</p>
            <p [hidden]="candle!.isAvailable" class="text store-item__add-info isNotAvailable">Нет в наличии</p>
        </div>
    </div>
</div>
