<app-route [name]="'Свечи'"></app-route>

<div [hidden]='candles!==null' class="loader">
    <div  class="lds-ring" ><div></div><div></div><div></div><div></div></div>
</div>
<div class="shop" [hidden]='candles===null'>
    <div class="filter">
        <div>
            <input type="checkbox" id="scales" name="scales" (click)="showAvailableCandles()">
            <label for="scales">В наличии</label>
        </div>

        <div (click)="popularCandle()">
            <input type="radio" id="huey" name="drone" value="huey"
                    checked>
            <label for="huey">По популярности</label>
        </div>

        <div (click)="lowPriceCandle()">
            <input type="radio" id="dewey" name="drone" value="dewey">
            <label for="dewey">По возрастанию цены</label>
        </div>

        <div (click)="highPriceCandle()">
            <input type="radio" id="louie" name="drone" value="louie">
            <label for="louie">По убыванию цены</label>
        </div>
    </div>
    <div class="container link" [hidden]="isShowAvailableCandles">
        <div class="shop-flex" [hidden]="!isShowCandles">        
            <app-shop-item class="app-shop-item"
                *ngFor="let c of candles" 
                [candle]="c"
                (clickAddCartItem) = "addCartItem($event)"  
            ></app-shop-item>
        </div>
    </div>  

    <div class="container link" [hidden]="!isShowAvailableCandles">
        <div class="shop-flex" [hidden]="!isShowCandles">        
            <app-shop-item class="app-shop-item"
                *ngFor="let c of candlesAvailable" 
                [candle]="c"
                (clickAddCartItem) = "addCartItem($event)"  
            ></app-shop-item>
        </div>
    </div>  
</div>
