/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    // background-color: #f5f5f5;
    font-family: 'Roboto',Arial,sans-serif;
}

html {
    scroll-behavior: smooth;
  }


// .anchor {

//     position: relative;
//     padding-top: 100px; //(whatever distance from the top of the page you want)
        
// }