<div class="home-content">
    <div class="header-banner">
        <div class="header-banner__info">
            <div class="banner__info-wrap">
                <p class="header-banner__text banner__head-text header-banner__element text">КАСТОМИЗИРУЙ СВОЮ СВЕЧУ</p>
                <p class="header-banner__text banner__main-text header-banner__element text">Выбери надпись из каталога, а после выбери аромат и фитиль! Прояви креатив на полную!</p>
                <button
                    size="s"
                    routerLink="/shop"
                    tuiButton
                    type="button"
                    class="button header-banner__element"
                >
                    СОБРАТЬ СВЕЧУ
                </button>


            </div>

        </div>
        <div class="wrap-img">
            <img class="banner__img" src="assets/img/header-candles.jpg">
        </div>

    </div>
    <ul class="desc">
        <li class="des__li" >eco - friendly</li>
        <li class="des__li" >/</li>
        <li class="des__li" >hand - crafted</li>
        <li class="des__li" >/</li>
        <li class="des__li" >natural ingredients</li>
        <li class="des__li" >/</li>
        <li class="des__li" >exclusive fragrances</li>
    </ul>

    <div class="central-container">
        <div class="main-banner">

            <div class="main-banner__part wrap-img">
                <img class="banner__img" src="assets/img/main-banner.jpg">
            </div>

            <div class="main-banner__part main-banner__info">
                <div class="banner__info-wrap">
                    <p class="banner__head-text text">Свечи для любого настроения</p>
                    <p class="text">Более 30 разных надписей на любой повод и настроение! Себе или в подарок - свеча HYPE создает настроение! Надпись и яркий цвет радуют глаз, а аромат заполняет все пространство!</p>
                    <button
                    size="s"
                    routerLink="/shop"
                    tuiButton
                    type="button"
                    class="button banner__button_flex_start"
                >
                    СОБРАТЬ СВЕЧУ
                </button>
                </div>
            </div>
        </div>
    </div>

    <div class="add-banner">
        <div class="add-banner__container central-container">
            <div class="banner__info-wrap add-banner__info">
                <p class="text banner__head-text">Хотите создать свою кастомную свечу?</p>
                <p class="text">Просто выберите цвет свечи, аромат, надпись и фитиль из всех вариантов! Более 10 000 уникальных сочетаний - соберите свою свечу!</p>
                <button
                    size="s"
                    routerLink="/shop"
                    tuiButton
                    type="button"
                    class="button banner__button_flex_start"
                >
                    СОЗДАТЬ СВЕЧУ
                </button>

            </div>
        </div>
        <div class="wrap-img">
            <img class="banner__img" src="assets/img/additional-banner.png">
        </div>
    </div>




    <div class="fragrance-preview central-container">
        <p class="fragrance-preview__header">Выбрать аромат</p>
        <p class="text fragrance-preview__p">Никогда еще не было так просто выбрать свечу</p>
        <div class="fragrance-preview__imgs">

            <div class="fragrance-preview__img-with-info">
                <div class="fragrance-preview__text">
                    <button
                        size="xs"
                        tuiButton
                        type="button"

                        appearance="custom"
                        class="tui-space_right-3 tui-space_bottom-3 button-aroma"
                    >
                    сладкий
                    </button>
                </div>

                <div class="wrap-img fragrance-preview_width_20">
                    <img class="fragrance-preview__img" src="assets/img/fragrance-type-1.jpg">
                </div>
            </div>
            <div class="fragrance-preview__img-with-info">
                <div class="fragrance-preview__text">
                    <button
                        size="xs"
                        tuiButton
                        type="button"
                        appearance="custom"
                        class="tui-space_right-3 tui-space_bottom-3 button-aroma"
                    >
                    фруктовый
                    </button>

                </div>
                <div class="wrap-img fragrance-preview_width_20">
                    <img class="fragrance-preview__img" src="assets/img/fragrance-type-2.jpg">
                </div>
            </div>
            <div class="fragrance-preview__img-with-info">
                <div class="fragrance-preview__text">
                    <button
                        size="xs"
                        tuiButton
                        type="button"

                        appearance="custom"
                        class="tui-space_right-3 tui-space_bottom-3 button-aroma"
                    >
                    цитрусовый
                    </button>
                </div>
                <div class="wrap-img fragrance-preview_width_20">
                    <img class="fragrance-preview__img" src="assets/img/fragrance-type-3.jpg">
                </div>
            </div>
            <div class="fragrance-preview__img-with-info">
                <div class="fragrance-preview__text">
                    <button
                        size="xs"
                        tuiButton
                        type="button"
                        appearance="custom"
                        class="tui-space_right-3 tui-space_bottom-3 button-aroma"
                    >
                    древесный
                    </button>
                </div>
                <div class="wrap-img fragrance-preview_width_20">
                    <img class="fragrance-preview__img" src="assets/img/fragrance-type-4.jpg">
                </div>
            </div>
            <div class="fragrance-preview__img-with-info">
                <div class="fragrance-preview__text">
                    <button
                        size="xs"
                        tuiButton
                        type="button"
                        appearance="custom"
                        class="tui-space_right-3 tui-space_bottom-3 button-aroma"
                    >
                    пряный
                    </button>
                </div>
                <div class="wrap-img fragrance-preview_width_20">
                    <img class="fragrance-preview__img" src="assets/img/fragrance-type-5.jpg">
                </div>
            </div>


        </div>
        <button
                    size="s"
                    routerLink="/shop"
                    tuiButton
                    type="button"
                    class="button fragrance-preview__button"
                >
                ВСЕ АРОМАТЫ
                </button>

    </div>


</div>
