<div class="home-content">
    <div class="header-banner">
        <div class="header-banner__info">
            <div class="banner__info-wrap">
                <p class="header-banner__text banner__head-text header-banner__element text">КАСТОМИЗИРУЙ СВОЮ СВЕЧУ</p>
                <p class="header-banner__text banner__main-text header-banner__element text">Выбери надпись из каталога, а после выбери аромат и фитиль! Прояви креатив на полную!</p>
                <a class="link button header-banner__element" routerLink="shop">СОБРАТЬ СВЕЧУ</a>
            </div>
            
        </div>
        <div class="wrap-img">
            <img class="banner__img" src="assets/img/header-candles.jpg">
        </div>
        
    </div>
    <ul class="desc">
        <li>eco - friendly</li>
        <li>/</li>
        <li>hand - crafted</li>
        <li>/</li>
        <li>natural ingredients</li>
        <li>/</li>
        <li>exclusive fragrances</li>
    </ul> 
   
    <div class="central-container"> 
        <div class="main-banner">
            <div class="main-banner__part main-banner__info">
                <div class="banner__info-wrap">
                    <p class="banner__head-text text">Свечи для любого настроения</p>
                    <p class="text">Более 30 разных надписей на любой повод и настроение! Себе или в подарок - свеча HYPE создает настроение! Надпись и яркий цвет радуют глаз, а аромат заполняет все пространство!</p>
                    <a class="button banner__button_flex_start" routerLink="#">СОБРАТЬ СВЕЧУ</a>  
                </div>    
            </div>
            <div class="main-banner__part wrap-img">
                <img class="banner__img" src="assets/img/main-banner.jpg">
            </div>
        </div>                
    </div>
    <div class="add-banner">
        <div class="add-banner__container central-container">
            <div class="banner__info-wrap add-banner__info">
                <p class="text banner__head-text">Хотите создать свою кастомную свечу?</p>  
                <p class="text">Просто выберите цвет свечи, аромат, надпись и фитиль из всех вариантов! Более 10 000 уникальных сочетаний - соберите свою свечу!</p>
                <a class="button banner__button_flex_start" href="#">Хочу создать свечу</a> 
                
            </div>
        </div>
        <div class="wrap-img">
            <img class="banner__img" src="assets/img/additional-banner.jpg">
        </div>
    </div>
    <span class="anchor" id="about"></span>
    <div class="about-brand central-container" >
        <div class="about-brand__info">
            <h2 class="about-brand__add-title about-brand__text">О БРЕНДЕ</h2>
            <h1 class="about-brand__title about-brand__text">THE CANDLES</h1>
            <p class="about-brand_p about-brand__text">Это крафтовый бренд свечей, созданный мамой и дочкой в Москве. Мы производим свечи из натурального бленда соевого и кокосового воска и отбираем самые интересные и необычные ароматы для каждой новой коллекции.</p>
            <p class="about-brand_p about-brand__text">Мы мощно зашли на российский рынок, а наши свечи HYPE взорвали инстаграм: кастомные цветные свечи с любым сочетанием хайповых надписей и кайфовых ароматов на выбор. Не свечи, а конфетки!</p>
            <p class="about-brand_p about-brand__text">Помимо самой популярной коллекции свечей HYPE, в ассортименте у бренда The Svechi 6 коллекций с абсолютно разным вайбом, ароматами и дизайном. Переходите в магазин и убедитесь в этом сами!
            </p>

        </div>
        <div class="about-brand__wrap-img wrap-img">
            <img class="about-brand__img" src="assets/img/about-the-brand.jpg">
        </div>
       
    
    </div>
    <div class="fragrance-preview central-container">
        <p class="fragrance-preview__header">Выбрать аромат</p>
        <p class="text fragrance-preview__p">Никогда еще не было так просто выбрать свечу</p>
        <div class="fragrance-preview__imgs">

            <div class="fragrance-preview__img-with-info">
                <div class="fragrance-preview__text">
                    <p>сладкий</p>
                </div>
                <!-- <div class="wrap-img fragrance-preview__img-info">
                    <img class="fragrance__info-img" src="img/info-img-1.png">
                </div> -->
                <div class="wrap-img fragrance-preview_width_20">
                    <img class="fragrance-preview__img" src="assets/img/fragrance-type-1.jpg">
                </div>
            </div>
            <div class="fragrance-preview__img-with-info">
                <div class="fragrance-preview__text">
                    <p>фруктовый</p>
                </div>
                <div class="wrap-img fragrance-preview_width_20">
                    <img class="fragrance-preview__img" src="assets/img/fragrance-type-2.jpg">
                </div>
            </div>
            <div class="fragrance-preview__img-with-info">
                <div class="fragrance-preview__text">
                    <p>цитрусовый</p>
                </div>
                <div class="wrap-img fragrance-preview_width_20">
                    <img class="fragrance-preview__img" src="assets/img/fragrance-type-3.jpg">
                </div>
            </div>
            <div class="fragrance-preview__img-with-info">
                <div class="fragrance-preview__text">
                    <p>древесный</p>
                </div>
                <div class="wrap-img fragrance-preview_width_20">
                    <img class="fragrance-preview__img" src="assets/img/fragrance-type-4.jpg">
                </div>
            </div>
            <div class="fragrance-preview__img-with-info">
                <div class="fragrance-preview__text">
                    <p>пряный</p>
                </div>
                <div class="wrap-img fragrance-preview_width_20">
                    <img class="fragrance-preview__img" src="assets/img/fragrance-type-5.jpg">
                </div>
            </div>
            
            
            <!-- <div class="wrap-img fragrance-preview_width_20">
                <img class="fragrance-preview__img" src="img/fragrance-type-2.jpg">
            </div>
            <div class="wrap-img fragrance-preview_width_20">
                <img class="fragrance-preview__img" src="img/fragrance-type-3.jpg">
            </div>
            <div class="wrap-img fragrance-preview_width_20">
                <img class="fragrance-preview__img" src="img/fragrance-type-4.jpg">
            </div>
            <div class="wrap-img fragrance-preview_width_20">
                <img class="fragrance-preview__img" src="img/fragrance-type-5.jpg">
            </div> -->
        </div>
        <a class="button fragrance-preview__button" href="#">Смотреть все ароматы</a>
        
    </div>

    
</div>