<app-route [name]="'Аккаунт'"></app-route>
<ng-container *tuiLet="accountInfo | async as accInfo">

<div class="central-container" [hidden]="isAuth">
    <p class="account__line">Вы не авторизованы</p>
</div>
<div [hidden]="!isAuth">

    <div [hidden]="!(accInfo===null)" class="loader">
        <div  class="lds-ring" ><div></div><div></div><div></div><div></div></div>
    </div>
    
    <div [hidden]="(accInfo===null)" class="central-container">
        <h1 class="account__title">Мой аккаунт</h1>
        <div [hidden]="isChange">
            
            <p class="account__line">Имя: {{accInfo?.name}}</p>
            <p class="account__line">Телефон: {{accInfo?.phone}}</p>
            <p class="account__line">Адрес: {{accInfo?.address}}</p>
            <p class="account__line link" (click)="changeInfo()">Изменить</p>
        </div>
       
    
        
   

        <div [hidden]="!isChange" class="tui-container">


            <form class='form' [formGroup]="testForm">
                <div class="tui-form__row ">
                  

                    <tui-input
                        formControlName="name"
                    >
                        Имя
                        <input
                            tuiTextfield
                            placeholder=""
                        />
                        <span class="tui-required"></span>
                    </tui-input>
                    <tui-error
                    formControlName="name"
                    [error]="[] | tuiFieldError | async"
                    ></tui-error>
                </div>

                
                <div class="tui-form__row ">
                    <tui-input-phone formControlName="phone">Номер телефона</tui-input-phone>
                    <tui-error
                        formControlName="phone"
                        [error]="[] | tuiFieldError | async"
                    ></tui-error>
                    
                </div>

                <div class="tui-form__row ">
                  

                    <tui-input
                        formControlName="address"
                    >
                        Адрес
                        <input
                            tuiTextfield
                            placeholder=""
                        />
                        <span class="tui-required"></span>
                    </tui-input>
                    <tui-error
                    formControlName="address"
                    [error]="[] | tuiFieldError | async"
                    ></tui-error>
                </div>



                <div class="tui-form__buttons">
                    <button
                        (click)="submit()"
                        tuiButton
                        size="l"
                        type="submit"
                        class="tui-form__button"
                    >
                        Submit
                    </button>
                </div>
        
        
                
            
            </form>
        </div>
   </div>
    

</div>



</ng-container>








